body {

	margin: 0;
	color: #6a6f8c;
	background: #1d0101;
	font: 600 16px/18px 'Open Sans', sans-serif
  }

/*  carousel      */

.carousel-item {
	height: 50vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 85px;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Moon Dance', cursive;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}
.carousel-indicators {
	bottom: 65px;
}
.carousel-indicators button {
	width: 100px !important;
 }
.mymarg h5{
    /* border: 3px solid red; */
    font-size:750%;
    -webkit-text-stroke: 2px rgb(243, 11, 11);
}
/* BODY */
.about {
	/* height: 50vh; */
	min-height: 30px;
}
.about h5 {
    text-align: center;
	font-size: 50px;
	text-transform: capitalize;
	letter-spacing: 2px;
	/* margin-top: 1px; */
	font-family: 'Moon flower', cursive;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.about p {
	width: 95%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
    text-align: justify;
}
.kag h1{
    /* border: 2px solid rgb(15, 235, 81); */
    font-family: 'stick-no-bills',cursive;
    text-shadow: 2px 2px 4px #000000;
	/* border: 1px solid; */
	padding: 10px;
	/* box-shadow: 5px 10px 20px rgb(104, 92, 92) inset; */
    
}
.card-body h4{
    text-align: center;
}
.fc:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1); 
	
  }
  .cls:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
	
  }
  .rb:hover{
	text-shadow: 2px 2px 4px #000000;
	font-style: oblique;
  }



  
  /* carousel at login */
 .rc img{
	 height: 150px;
	 width: 10px;

 }
 .soc-media img{
	 height: 25px;
	 width: 100px;
 }


 /* login form */

  #tab_content{
	text-align: center;
  }


/* Log In / sign up */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.wrapper {
	max-width: 350px;
	min-height: 500px;
	margin: 80px auto;
	padding: 40px 30px 30px 30px;
	background-color: #ecf0f3;
	border-radius: 15px;
	box-shadow: 13px 13px 20px #05e937, -13px -13px 20px rgb(206, 105, 10)
}

.logo {
	width: 100px;
	margin: auto
}

.logo img {
	width: 100%;
	height: 90px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.name{
	/* border: #05e937 solid 3px; */
}

.wrapper .name {
	font-weight:bold;
	font-size: 1.4rem;
	letter-spacing: 1.3px;
	padding-left: 10px;
	color: rgb(245, 11, 11)
}

.wrapper .form-field input {
	width: 100%;
	display: block;
	border: none;
	outline: none;
	background: none;
	font-size: 1.2rem;
	color: #666;
	padding: 10px 15px 10px 10px
}

.wrapper .form-field {
	padding-left: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.wrapper .form-field .fas {
	color: #555
}

.wrapper .btn {
	box-shadow: none;
	width: 100%;
	height: 40px;
	background-color: #03A9F4;
	color: #fff;
	border-radius: 25px;
	box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
	letter-spacing: 1.3px
}

.wrapper .btn:hover {
	background-color: #039BE5
}

.wrapper a {
	text-decoration: none;
	font-size: 0.8rem;
	color: #03A9F4
}

.wrapper a:hover {

	color: #039BE5
}

@media(max-width: 380px) {
	.wrapper {
		margin: 30px 20px;
		padding: 40px 15px 15px 15px
	}
}

  
.btn:not([disabled]):focus {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .btn:not([disabled]):hover {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

#form i {
    margin-left: -50px;
    cursor: pointer;
}
#errlabel{
	margin-left: 20px;
	font-family: cursive;
	color: red;
}
/* modal box */
.modal{
	cursor: pointer;
	margin-left: 60%;
	margin-top: 250px;
	float: right;
}
.pass_hint{
	cursor: pointer;
}
.bii{
	color: red;
	font-weight: bold;
	/* border: 4px solid red; */
	
}